.footer {

    display: grid;
    grid-template-columns: 30% 12% 18% 29%;
    grid-column-gap: 4%;
    
    padding: 1.8rem 2rem;
    background: black;
    color: white;

} 
/* 
.footer>div {
    border: 2px solid rgb(213, 208, 208);
} */ 


.f1-fslogo {
    width: 200px;
}

.f1-para {
    font-size: 1rem;
    
    padding-left: .5rem;
    text-align: justify;

}

.f1-icons {
    display: flex;
    padding-left: 0;
}

.f1-ic {
    margin: .3rem .7rem;
    font-size: 1.2rem;
    color: black;
    background-color: white;
    padding: .3rem;
    border-radius: 50%;

}

.footer-heading {
    font-size: 1.3rem;
    margin-bottom: .7rem;
}

.footer-list {
    font-size: 1rem;
    line-height: 2rem;
    padding-left: 0;

}

.email-section {
    display: flex;
    position: relative;
    margin-bottom: .5rem;
}

.e-email {
    position: absolute;
    left: .3rem;
    top: .3rem;
    width: 45px;
}

.e-input {
    padding: .8rem 1.8rem;
    border: none;
    border-bottom: 1.5px solid white;
    padding-bottom: .8rem;
    background: black;
    color: white;
    padding-left: 4rem;
    font-size: 1rem;
    outline: none;
    
}

.e-button {
    padding: .2rem 1rem;
    color: white;
    background: blue;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    margin-left:     .5rem;
    border: none;
    height:35px;
    align-self: flex-end;

}

.e-button:hover {
    color: rgb(139, 139, 201);
}

.footer-pstore {
    margin-right: 1.4rem;
    width: 175px;
}

@media screen and (max-width:1500px) {

    .footer {

        display: grid;
        grid-template-columns: 30% 12% 18% 29%;
        grid-column-gap: 3%;
      
        padding: 1.4rem 2rem;
        background: black;
        color: white;

    }

    .footer-heading {
        font-size: 1.1rem;
    
    }
    .footer-pstore {
        width: 120px;
    }

    .e-email {
        width: 40px;
        top: .5rem;
    }

    .e-input {
        padding: .8rem 1rem;
        border: none;
        border-bottom: 1.5px solid white;
        padding-bottom: 1rem;
        background: black;
        color: white;
        padding-left: 3rem;
        font-size: 1rem;
    }

    .e-button {
        padding: .2rem 1rem;
        color: white;
        background: blue;
        font-size: .8rem;
        font-weight: bold;
        border-radius: 5px;
        margin-left: 1rem;
        border: none;

    }

}
.e-info {
    font-size:1rem !important;
    /* width:90% !important; */
    margin-bottom: .8rem !important;
    margin-top:1rem;
}

@media screen and (max-width:1200px) {

    .footer {

        display: grid;
        grid-template-columns: 25% 12% 18% 40%;
        grid-column-gap: 2%;
    
        padding: 2rem 2rem 1.4rem 2rem;
        background: black;
        color: white;

    }

     .f1-fslogo {
        width: 190px;
    }

    .f1-para {
        font-size: .8rem;
        line-height: 1.2rem;

    }

    .footer-list {
        font-size: .8rem;
        line-height: 1.8rem;

    }
    .footer-heading {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

    .footer-pstore {
        width: 125px;
    }

    .e-email {
        width: 40px;
        top: .2rem;
    }

    .e-input {
        padding: .4rem .2rem;
        border: none;
        border-bottom: 1.2px solid white;
        padding-bottom: 1rem;

        padding-left: 3rem;
        font-size: 1rem;
    }

    .e-button {
        padding: .4rem .8rem;
        color: white;
        background: blue;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 10px;
        margin-left: .2rem;
        border: none;

    }

    .footer-heading {
        font-size: 1.3rem;
    }

}
@media screen and (max-width:992px) {
    .footer {
        display:flex;
        flex-direction: column;
    }

    .footer-heading {
        font-size: 1.3rem;
        margin-bottom: 1rem; 
    }
    .footer-list {
        font-size: 1rem;
        line-height: 1.8rem;
        margin-top:0.6rem;

    }
    .f1-para {
        font-size: 1rem;
        margin-top:0.5rem;
        line-height:1.5rem;
    
    }
    .f1-icons {
        display: flex;
        padding-left: 0;
        margin-bottom: .2rem;
    }

  
}

@media screen and (max-width:550px) {
    .footer {

        padding: 1rem 1.4rem;
    
    } 
    .footer-heading {
        font-size: .95rem;
        margin-bottom: 1rem;
    }
    .accordion-btn {
        font-size:1.4rem !important;
      }
      .f1-para {
        font-size: .8rem;
        margin-top:0.5rem;
        line-height: 1.3rem;
        margin-bottom: .2rem;
    }
    .f1-fslogo {
        width: 180px;
      
    }
    .e-email {
        width: 30px;
        top: 0rem;
    }

    .e-input {
        padding: .2rem .2rem;
        padding-left: 2.5rem;
        font-size: .8rem;
    }

    .e-button {
        padding: .3rem .7rem;
        color: white;
        background: blue;
        font-size: .8rem;
        font-weight: bold;
        border-radius: 8px;
        margin-left: .3rem;
        border: none;

    }
    .e-info {
        font-size:.8rem !important;
        width:90% !important;
        margin-bottom: .8rem !important;
        margin-top:0.1rem;
    }
    .footer-list {
        font-size: .8rem;
        line-height: 1.4rem;
        margin-top:0;

    }
    .f1-ic {
        margin: .3rem .6rem;
        font-size: 1rem;
        color: black;
        background-color: white;
        padding: .3rem;
        border-radius: 50%;
    
    }
    .f1-icons {
        display: flex;
        padding-left: 0;
        margin-bottom: .5rem;
        margin-top:.4rem;
    }
    .footer-2,.footer-4{
        margin-left:.4rem;
    }
}


  .accordion-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    transition: transform 0.3s ease-in-out;
    color:white;
    font-size:2rem;
  }
  
  .accordion-btn.open {
    transform: rotate(180deg);
  }

