.react-slideshow-container .default-nav {
  height: 40px !important;
  background: rgba(185, 182, 182, 0.6) !important;
  width: 40px !important;
  border: 0;
  text-align: center;
  
  border-radius: 10px !important;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.react-slideshow-container .nav:last-of-type {
  right:30px !important;
}
.react-slideshow-container .nav:first-of-type {
  left:30px !important;
}