.react-slideshow-container .default-nav {
  height: 40px !important;
  background: rgba(185, 182, 182, 0.6) !important;
  width: 40px !important;
  border: 0;
  text-align: center;
  
  border-radius: 10px !important;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.react-slideshow-container .nav:last-of-type {
  right:30px !important;
}
.react-slideshow-container .nav:first-of-type {
  left:30px !important;
}
.slick-arrow .slick-next::before {
  display:none !important;
}
/* ///////////////ADVERTISEMENT (HOMESCREEN) ////////////// */
.adv-text{
  font-size: 1.5rem;
  }
  .adv-btn {
     font-size: 1.2rem;
     background-color: black;
     color:white;
     padding:.7rem 1rem;
     border-radius: 8px;
     border:none;
  }
  .adv-btn:hover {

        font-size: 1rem;
        background-color: black;
        color:white;
        padding:.5rem .8rem;
        border-radius: 8px;
        border:none;
     
  }
  @media screen and (max-width:992px) {
     .adv-text{
        font-size: 1.3rem;
        }
        .adv-btn {
           font-size: 1rem;
           background-color: black;
           color:white;
           padding:.8rem 1rem;
           border-radius: 8px;
           border:none;
        }
        
  }
  
  @media screen and (max-width:700px) {
     .adv-text{
        font-size: .8rem;
        }
        .adv-btn {
           font-size: .6rem;
           background-color: black;
           color:white;
           padding:.5rem .5rem;
           border-radius: 8px;
           border:none;
        }
        .adv-off {
           font-size:.6rem;
        }
        
  }
  
  @media screen and (max-width:500px) {
     .adv-text{
        font-size: .6rem;
        }
        .adv-btn {
           font-size: .5rem;
           background-color: black;
           color:white;
           padding:.6rem .7rem;
           border-radius: 8px;
           border:none;
        }
        .adv-off {
           margin-top: 0;
           margin-bottom: 0.3rem;
           font-size:.6rem;
        }
        
      }


/* //////////////////////header/////////////////////////////// */

.ant-drawer-header {
   background-color: white;
   color: white;
}

.ant-drawer-title {
   color: white;

}
.ant-drawer-body {
   background-color: black;
}